body {
    background-image: url("../images/blue-background.jpg");
    justify-content: center;
    text-align: center;
    font-family: body;
}

.cityButton{
    margin: 8px;
    align-self: center;
}

#buttons-go-here{
    padding: 20px;
    text-align: center;
}

#reset-go-here{
    text-align: center;
    align-self: center;
    justify-content: center;
}

.resetBtn{
    margin: 15px;
    align-self: center;
  text-align: center;
    justify-content: center;
}

.card-body{
    background-image: url("../images/swirl.png")
}

.imgCard{
    text-align: center;
}

#img-card{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
}

.nameBox{
    color: white;
    font-size: 45px;
    font-family: title;
}

@font-face{
    font-family: title;
    src: url(../fonts/Love\ Nature.otf)
}

@font-face{
    font-family: body;
    src: url(../fonts/Vegur-Regular.otf)
}


 