body {background-image: url("../images/My Post (1).jpg");
    background-repeat: repeat;
    background-size: 150px 400px;
}

h3 {
    
    font-size: 160px;
    font-family: 'Source Code Pro', monospace;
   
}

h3.shadow {  text-shadow: 1.3px 1.3px 1.3px  white, 4px 4px 6px #666363; }

div #info {
    
    box-shadow: inset 5px 3px 5px 3px #2d2c2c, inset 0px 0px 2px 20px black;
}

div .instructions {background-color: #728aa9fA;
    height: 150px;
    width: 900px;
   
    font-size: 15px;
    box-shadow: inset 5px 3px 5px 3px #2d2c2c, inset 0px 0px 2px 15px black; 
   
}

#button{
    width: 300px;
    font-size: 50px;
}



div.instructionheader{
    font-size: 30px;

}


#info {background-color: #e0e0e0;
height: 500px;
width: 900px;
border-radius: 25px;
}


#play {
    color: white;
    background-color:rgb(92, 0, 128);
    width: 90%;
    height: 550px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
}

#battleWindow {
    position: relative;
}
 
#player1Window {
    width: 80%;
    height: 0;
    border-top: 250px solid orange;
    border-right: 750px solid transparent;
 
    margin-left: auto;
    margin-right: auto;
 
    position: absolute;
    top: 40px;
    left: 20;
}
     
 
#player2Window {
    width: 80%;
    height: 0;
    border-bottom: 250px solid red;
    border-left: 750px solid transparent;
 
    margin-left: auto;
    margin-right: auto;
 
    position: absolute;
    top: 40px;
    right: 20;
}
 
 #attackButtons{
 
    background-color:red;
    margin-left: 80px;
    margin-top: 280px;
    height: 80px;
 }

#chatBox {
    background-color:rgb(110, 236, 105);
    margin-top: 280px;
    margin-left: 30px;
    height: 80px;
}
 
 #log {
    background-color: rgb(255, 83, 141);
    width: 80%;
    height: 100px;
    margin:auto;
}
 
 .btn {
    margin-top: 20px;
 
 }

.city {
    background-color: rgb(255, 255, 255, 0.9);
    border-radius: 10px;
}

.city-image {
    max-width: 90%;
    max-height: 150px;
}

.paragraph{
    font-size: 10px;
    margin-top: 5px;
    width: 80%;
    margin-left: 90px;
    background-color: #728aa9fA;
}
