body {background-image: url("../images/My Post (1).jpg");
    background-repeat: repeat;
    background-size: 150px 400px;
}

h1 {
    font-size: 160px;
}

h3 {
    font-family: 'Source Code Pro', monospace;
}

.shadow {  text-shadow: 1.3px 1.3px 1.3px  white, 4px 4px 6px #666363; }

div #info {
    
    box-shadow: inset 5px 3px 5px 3px #2d2c2c, inset 0px 0px 2px 20px black;
}

div .instructions {background-color: #728aa9fA;
    height: 150px;
    width: 900px;
   
    font-size: 15px;
    box-shadow: inset 5px 3px 5px 3px #2d2c2c, inset 0px 0px 2px 15px black; 
   
}

#button{
    width: 300px;
    font-size: 50px;
}



div.instructionheader{
    font-size: 30px;

}


#info {background-color: #e0e0e0;
height: 500px;
width: 900px;
border-radius: 25px;
}


#play {
    color: white;
    background-color:rgba(0,0,0,0.12);
    width: 90%;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    background: lightgrey;
    display: none;
}

#battleWindow {
    position: relative;
}

#player1Window {
	width: 80%;
	height: 0;
	border-top: 250px url(/assets/images/barcelona.jpg);
    border-right: 750px;
    
    margin-left: auto;
    margin-right: auto;
 
    position: absolute;
    top: 40px;
    left: 20;  
}

#player2Window {
    width: 80%;
	height: 0;
    border-bottom: 250px;
	border-left: 750px;
    
    margin-left: auto;
    margin-right: auto;
 
    position: absolute;
    top: 40px;
    right: 20;  
}

img {
    width: 750px;
    height: 250px;
}

#attackButtons{
    background-color:#728aa9fa;
    margin-left: 80px;
    margin-top: 280px;
    
}

#restart-continue {
    display: none;
}
 
 .btn {
    margin-top: 20px;
 
 }

.city {
    background-color: rgb(255, 255, 255, 0.9);
    border-radius: 10px;
}

#chatBox {
    background-color:rgba(0, 0, 0, 0.7);
    margin-top: 280px;
    margin-left: 30px;
    height: 100px;
    color: yellow;
}

input, select, textarea{
    color: #207a1c;
}

p {
    color: white;
}

#log {
    background-color: rgb(145, 148, 106);
    width: 80%;
    height: 90px;
    margin:auto;
}

/* NEW ATTEMP TO SPLIT SCREEN HERE ================================= */

.battleWindow {
    width: 80%;
    height: 400px;
    
    position: relative;
    top: 40px;
    left: 20;

    background: lightgrey;
    overflow: hidden;
  }
  
  .player1Window,
  .player2Window {
    position: absolute;
    height: 100%;
    width: 60%;
    min-width: 500px;
    -ms-transform: skewX(-25deg);
    -webkit-transform: skewX(-25deg);
    transform: skewX(-25deg);
    background: white;
    overflow: hidden;
    top:0;
    margin-right: 50px;
    border: 5px solid white;
    border-top: 0;
    border-bottom: 0;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.9);
  }
  
  .player1Window {
    right: 48%;
    position: absolute;
    top: 400px;
    height: 250px;
    width: 10%;
  }
  
  .player2Window {
    left: 50%; 
    position: absolute;
    top: 400px;
    height: 250px;
    width: 10%;
  }
  
  .player1Window:after{
    right: -93px;
    background: url("assets/images/bangkok.jpg") no-repeat center center;
    background-size: cover;
  }

  .player2Windowt:after{
    right: -93px;
    background: url("assets/images/mexico_city.jpg") no-repeat center center;
    background-size: cover;
  }
 
