body {
    background-color: gray;
}

#play {
    color: white;
    background-color:rgb(92, 0, 128);
    width: 90%;
    height: 550px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
}


#player1Window {
	width: 80%;
	height: 0;
	border-top: 200px solid orange;
    border-right: 900px solid transparent;

    margin-left: auto;
    margin-right: auto;

    position: absolute;
    top: 10px;
}
	

#player2Window {
    width: 80%;
	height: 0;
    border-bottom: 200px solid red;
	border-left: 900px solid transparent;
    
    margin-left: auto;
    margin-right: auto;

    position: absolute;
    top: 10px;
}

#attackButtons {
    background-color:red;
    margin-left: 80px;
    height: 80px;
}

.btn {
    margin-top: 20px;
    
}

#chatBox {
    background-color:rgb(110, 236, 105);
    margin-left: 30px;
    height: 80px;
}

#log {
    background-color: rgb(255, 83, 141);
    width: 80%;
    height: 100px;
    margin:auto;
}